<!-- Footer -->
	<footer class="footer text-center margin">
	  <div class="container">
		<div class="row">
		  <div class="col-md-4 mb-5 mb-lg-0">
			<h4 class="text-uppercase mb-4">Location</h4>
			<p class="lead mb-0">Monterrey N. L. , Mexico
			  <br></p>
		  </div>
		  <div class="col-md-4 mb-5 mb-lg-0">
			<h4 class="text-uppercase mb-4">Sigueme!</h4>
			<ul class="list-inline mb-0">
			  <li class="list-inline-item">
				<a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
				  <i class="fab fa-fw fa-twitter"></i>
				</a>
			  </li>
			</ul>
		  </div>
		  <div class="col-md-4">
			<h4 class="text-uppercase mb-4">Que es esto?</h4>
			<p class="lead mb-0">Esto es un sitio web de portafolio basado en django editado por
				<b>Maximiliano R. R.</b>.</p>
		  </div>
		</div>
	  </div>
	</footer>
